/* this will get overwritten on load */
body {
    display: none;
}

html.quiet-youtube,
html.quiet-youtube body {
    height: 100vh;
}

html.quiet-youtube .home-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

html.quiet-youtube .search-input {
    padding: 8px;
    min-width: 250px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

html.quiet-youtube .search-btn {
    border: none;
    height: 40px;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0 16px;
    transition: background 100ms ease-in-out;
}

html.quiet-youtube .search-icon-container {
    height: 24px;
    width: 24px;
}

@media (prefers-color-scheme: dark) {
    html.quiet-youtube .logo {
        color: white;
        fill: white;
    }

    html.quiet-youtube .search-input {
        border: 1px solid rgb(48, 48, 48) !important;
        background: rgb(18, 18, 18) !important;
        color: white;
    }

    html.quiet-youtube .search-btn {
        background: rgba(255, 255, 255, 0.08);
    }

    html.quiet-youtube .search-icon-container {
        color: white;
        fill: white;
    }
}

@media (prefers-color-scheme: light) {
    html.quiet-youtube .search-input {
        border: 1px solid rgb(204, 204, 204);
    }

    html.quiet-youtube .search-btn {
        background: rgb(248, 248, 248);
        border: 1px solid rgb(211, 211, 211);
        border-left: none;
    }

    html.quiet-youtube .search-btn:hover {
        background: rgb(240, 240, 240);
        border: 1px solid rgb(198, 198, 198);
        border-left: none;
    }
}

html.quiet-youtube .logo {
    width: 200px;
}

html.quiet-youtube .search-input:focus {
    outline: none;
    border: 1px solid rgb(28, 98, 185);
}

html.quiet-youtube .search-group {
    height: 40px;
    display: flex;
}

html.quiet-youtube #columns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html.quiet-youtube #columns #secondary {
    display: none;
}

/* code to show playlist panel when it is a video from a playlist */
html.quiet-youtube #columns #secondary #secondary-inner > * {
    display: none;
}

html.quiet-youtube #columns #secondary #secondary-inner > #playlist {
    display: block;
}

html.quiet-youtube
    #columns
    #secondary:has(ytd-playlist-panel-video-renderer) {
    display: flex;
}

html.quiet-youtube
    #columns.ytd-watch-flexy:has(ytd-playlist-panel-video-renderer) {
    align-items: flex-start;
}

html.quiet-youtube #columns #primary {
    max-width: fit-content;
}

html.quiet-youtube #top-level-buttons-computed,
html.quiet-youtube #voice-search-button,
html.quiet-youtube ytd-mini-guide-renderer,
html.quiet-youtube #related,
html.quiet-youtube tp-yt-app-drawer,
html.quiet-youtube .ytd-masthead #buttons,
html.quiet-youtube #guide-button {
    display: none !important;
}

html.quiet-youtube ytd-notification-topbar-button-renderer {
    display: none !important;
}

html.quiet-youtube ytd-topbar-menu-button-renderer #button {
    display: none !important;
}

html.quiet-youtube ytd-topbar-menu-button-renderer {
    display: flex !important;
    filter: grayscale(100%);
}

html.quiet-youtube #img {
    filter: grayscale(100%);
}

html.quiet-youtube ytd-video-owner-renderer #img {
    filter: grayscale(0%);
}

html.quiet-youtube #avatar-btn {
    display: flex !important;
}

html.quiet-youtube #primary {
    max-width: 900px !important;
    width: 80% !important;
}

html.quiet-youtube .ytp-chrome-bottom {
    width: calc(98%) !important;
}

html.quiet-youtube ytd-app[mini-guide-visible] ytd-page-manager.ytd-app {
    margin-left: 0 !important;
}

html.quiet-youtube
    ytd-watch-flexy:not([theater]):not([fullscreen])
    .html5-video-container,
html.quiet-youtube ytd-watch-flexy:not([theater]):not([fullscreen]) video {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
}

html.quiet-youtube ytd-playlist-sidebar-renderer {
    left: 0 !important;
}

html.quiet-youtube ytd-reel-shelf-renderer {
    display: none;
}

html.quiet-youtube .left-arrow .right-arrow {
    display: block;
}

ytd-app[guide-persistent-and-visible] ytd-page-manager.ytd-app {
    margin-left: 0 !important;
}

#page-manager > ytd-browse {
    width: 50% !important;
    margin: 0 auto !important;
}
